.mapNGS {
    align-items: left;
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(0,199,132);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.studentLogin{
    justify-content: center;
    color: white;
    background-color: darkgreen;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid lime;
    padding: 10px 20px; 
    text-align: left; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 1%; 
}
.studentLogin::placeholder{
    color: lime;
    text-align:left;
}
.genderBox{
    background-color: darkgreen;
    border:2px solid lime;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:rgb(0, 199, 132);
    text-align: center;
    margin-top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.imageNGS {
    align-items:center;
    display:flex;
    justify-content: center;
}
.newsArticle {
    background-color: darkgreen;
    float: left;
    margin-top:20px;
    h3 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:lime;
    }
}
.articles{
    align-items: left;
    margin-left: 100px;
    float:left;
}
.readMore{
    background-color: green; 
    border: none; 
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 4px; 
}
