body {
    font-family:'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    margin: 0.5;
    font-size: 14px;
    text-align: center;
    color: azure;
}
h1 {
    font-size: 60px;
}
h3 {
    font-size: 30px;
}
#displayedImage {
    display: block;
    width: 400px; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#displayedImage2 {
    display: block;
    width: 400px; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#resetButton {
    display: block;
    width: 100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    color: darkblue;
    font-size: 8;
    background-color: lightgray;
}
#flowerKhmer1 {
    float: left;
    margin-right: 10px;
    height: 600px;
    width: 500px;
}

#flowerKhmer2 {
    float: right;
    margin-left: 10px;
    height: 600px;
    width: 500px;
}
.mirror-horizontal{
    transform: scaleX(-1);
}